
# URI MongoDB (Atlas / cluster)
# REMPLACEZ <votre_mot_de_passe> par votre vrai mot de passe Atlas
MONGODB_URI=mongodb+srv://esatic-charlem:Jem%40ngedufoutou@esatic-cluster.oxxu62x.mongodb.net/?retryWrites=true&w=majority

# Port de l’API (optionnel)
PORT=8010

# Secret pour JWT
JWT_SECRET=esatic_secret_key_2025_2026
